<footer>
        <div class="wrap">
            <div class="foot-grid">
                <div class="foot-brand">
                    <img src="/assets/icon-128.png" alt="Nablix" width="34" height="34" />
                    <div class="name">Nab<span style="color:var(--cyan)">lix</span></div>
                    <p>{{footer.tagline}}</p>
                </div>
                <div class="foot-col">
                    <h4>{{footer.product}}</h4>
                    <a data-dl href="https://github.com/Afterglow-Laboratory/nablix-releases/releases/latest">{{nav.download}}</a>
                    <a href="{{prefix}}/pricing/">{{nav.pricing}}</a>
                    <a href="https://github.com/Afterglow-Laboratory/nablix-releases/releases">{{footer.releases}}</a>
                </div>
                <div class="foot-col">
                    <h4>{{footer.legal}}</h4>
                    <a href="{{legalPrefix}}/privacy/">{{footer.privacy}}</a>
                    <a href="{{legalPrefix}}/terms/">{{footer.terms}}</a>
                </div>
                <div class="foot-col">
                    <h4>{{footer.contact}}</h4>
                    <a href="mailto:afterglowlaboratory@gmail.com">afterglowlaboratory@gmail.com</a>
                    <a href="https://github.com/Afterglow-Laboratory">GitHub</a>
                </div>
            </div>
            <div class="foot-bottom">
                <span>© {{year}} Afterglow Laboratory. {{footer.rights}}</span>
                <span>∇ {{footer.made}}</span>
            </div>
        </div>
    </footer>
    <script src="/assets/site.js" defer></script>